{% extends "base.html" %}
{% block title %}{{ dirpath }} {% rstr v_path %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ SERV_ROOT_DIR }}css/wsf.view.css">
    <script>
        var MSG = {
            'tip': '{% rstr v_tip %}',
            'del_msg': '{% rstr v_del_msg %}',
            'del_fail': '{% rstr v_del_fail %}',
            'up_fail': '{% rstr v_up_fail %}',
            'not_allow': '{% rstr v_not_allow %}',
        }
    </script>
{% endblock %}

{% block body %}
    {% include "confirm.html" %}
    <p>&nbsp;</p>
    <h1 id="header">{{ dirpath }} {% rstr v_path %}</h1>
    <table id="table" border="1">
        {% if twoColumns %}
            {% for col in twoColumns %}
                <tr width="100%">
				{{% if col.fileRow2 %}}
					<td>
						<table width="300px" align="left">
							<tr><td align="left"><a class="{{ col.fileRow1.clazz }}" href="{% if col.fileRow1.can_browse %}{{ col.fileRow1.link }}{% else %}javascript:void(0);{% endif %}">{{ col.fileRow1.name }}</a></td></tr>
							<tr><td align="left" width="300px">{{ col.fileRow1.time }}</td></tr>
							<tr class="operateColumn">
								<td align="left" width="50%">{% rstr v_size %} : {{ col.fileRow1.size }}</td>
								<td align="center" width="50%"> {% if col.fileRow1.can_download %}<a class="download btn small" href="{% if col.fileRow1.can_browse %}{{ col.fileRow1.link }}{% else %}javascript:void(0);{% endif %}">{% rstr v_download %}</a>{% endif %}</td>
							</tr>
						</table>
					</td>
					{{% endif %}}
					{{% if col.fileRow2 %}}
					<td >
						<table width="300px" align="left">
							<tr><td align="left"><a class="{{ col.fileRow2.clazz }}" href="{% if col.fileRow2.can_browse %}{{ col.fileRow2.link }}{% else %}javascript:void(0);{% endif %}">{{ col.fileRow2.name }}</a></td></tr>
							<tr><td align="left" width="300px">{{ col.fileRow2.time }}</td></tr>
							<tr class="operateColumn">
								<td align="left" width="50%">{% rstr v_size %} : {{ col.fileRow2.size }}</td>
								<td align="center" width="50%">{% if col.fileRow2.can_download %}<a class="download btn small" href="{% if col.fileRow2.can_browse %}{{ col.fileRow2.link }}{% else %}javascript:void(0);{% endif %}">{% rstr v_download %}</a>{% endif %}</td>
							</tr>
						</table>
					</td>
					{{% endif %}}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <hr noshade>
    <em>{% rstr v_wel_to %} <a target="_blank" href="https://github.com/joinAero/AndroidWebServ/">AndroidWebServ Source</a>!</em>
    <p>&nbsp;</p>
{% endblock %}

{% block script %}
    <script src="{{ SERV_ROOT_DIR }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ SERV_ROOT_DIR }}js/ajaxfileupload.min.js"></script>
    <script src="{{ SERV_ROOT_DIR }}js/wsf.confirm.js"></script>
    <script src="{{ SERV_ROOT_DIR }}js/wsf.view.js"></script>
{% endblock %}
