{% extends "base.html" %}
{% block title %}coco合作游戏{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ SERV_ROOT_DIR }}css/wsf.view.css">
    <!--link rel="stylesheet" href="{{ SERV_ROOT_DIR }}css/colorbox.css"-->
    <link rel="stylesheet" href="{{ SERV_ROOT_DIR }}css/style.css">
    <script>
        var MSG = {
            'tip': '{% rstr v_tip %}',
            'del_msg': '{% rstr v_del_msg %}',
            'del_fail': '{% rstr v_del_fail %}',
            'up_fail': '{% rstr v_up_fail %}',
            'not_allow': '{% rstr v_not_allow %}',
        }
    </script>
{% endblock %}

{% block body %}
    {% include "confirm.html" %}
    <p>&nbsp;</p>
        <div style=" margin: 0 auto; margin-top: 25px; text-align: center;   line-height: 40px">
            <h4 style="font-size: 30px;">coco合作游戏</h4>
        </div>
		<div class="homegame">
		<div style=" margin: 0 auto; margin-top: 25px; margin-left: 10px; text-align: left;   line-height: 40px">
            <h4 style="font-size: 20px;">Total : {{ rowsCount }}</h4>
        </div>
		<hr color="000000" style="margin: 0px 10px 0px 10px">
        {% if fileRows %}
            {% for col in fileRows %}
				{% if col %}
					<div class="gctop">
						<div class="gamesingle gmtopleft">
							{% if col.icon %}<a class="gmicon fl"><img src="data:image/png;base64,{{col.icon}}" alt="" /></a>{% endif %}
							<div class="gmdes fl">
								<h6><a href="{{ col.link }}">{{ col.name }}</a></h6>
								{% if col.desc %}<p>{{col.desc}}</p>{% endif %}
								{% if col.can_download %}<div><a href="/download{{ col.link }}" class="homebtn fr">{% rstr v_download %}</a>{% rstr v_size %} : {{ col.size }}</div>{% endif %}
							</div>
						</div>
					</div>
				{% endif %}
            {% endfor %}
        {% endif %}
		</div>
{% endblock %}

{% block script %}
    <!--script src="{{ SERV_ROOT_DIR }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ SERV_ROOT_DIR }}js/ajaxfileupload.min.js"></script>
    <script src="{{ SERV_ROOT_DIR }}js/wsf.confirm.js"></script>
    <script src="{{ SERV_ROOT_DIR }}js/wsf.view.js"></script-->
{% endblock %}
